<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <!--<authentication mode="Forms">
      
    </authentication>
        <authorization>
            <allow users="*" />     
        </authorization> 
   <roleManager enabled="true" />-->
  </system.web>
  
  <!--<location path="View/Department/Departmenthead">
    <system.web>
      <authorization>
       <allow roles="DepartmentHead" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Department/DelegateDepartmenthead">
    <system.web>
      <authorization>
        <allow roles="DepartmentHead/DelegateDepartmentHead" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
   <location path="View/Department/DepartmentRep">
    <system.web>
      <authorization>
       <allow roles="DepartmentHead,DepartmentRep" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="View/Department/Employee">
    <system.web>
      <authorization>
       <allow roles="DepartmentHead,DepartmentRep,Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
    <location path="View/Stationery/Supervisor">
    <system.web>
      <authorization>
       <allow roles="Supervisor,Manager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/DelegateSupervisor">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,DelegateSupervisor" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="View/Stationery/Decrepancy">
    <system.web>
      <authorization>
       <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/DeliveryOrder">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/DisbursementLists">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/GeneratePO">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/Inventory">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/Requisition">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="View/Stationery/Suppliers">
    <system.web>
      <authorization>
        <allow roles="Supervisor,Manager,StoreClerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
      
  <location path="RetrievalService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="RequisitionService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  
    <location path="PurchaseOrderService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  
    <location path="DelegateService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  
      <location path="DisbursementService.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>--> 
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SSIS_Team02Model1" connectionString="data source=(local);initial catalog=SSIS_Team2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
<!--<add name="SSISTeam02_Model1" connectionString="data source=.;initial catalog=SSIS_Team2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="SSIS_Team02Model" connectionString="data source=DESKTOP-T99FM85;initial catalog=SSIS_Team2-new;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PurchaseOrderService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IPurchaseOrderService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="DelegateService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IDelegateService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="DisbursementService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IDisbursementService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="RequisitionService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IRequisitionService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="RetrievalService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="IRetrievalService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
  </system.serviceModel>
</configuration>